esper/etc/esper-configuration-5-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.espertech.com/schema/esper" elementFormDefault="qualified" xmlns:esper="http://www.espertech.com/schema/esper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="esper-configuration">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:event-type-auto-name" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:event-type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:revision-event-type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:variant-stream" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:auto-import" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:method-reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:database-reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-view" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-virtualdw" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-aggregation-function" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-aggregation-multifunction" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-singlerow-function" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-pattern-guard" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-pattern-observer" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-event-representation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-event-type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-event-type-name-resolution" minOccurs="0"/>
					<xs:element ref="esper:variable" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:plugin-loader" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:engine-settings" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="propertyResolutionStyleEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="case_sensitive"/>
			<xs:enumeration value="case_insensitive"/>
			<xs:enumeration value="distinct_case_insensitive"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eventRepresentationEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="map"/>
			<xs:enumeration value="objectarray"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="event-type-auto-name">
		<xs:complexType>
			<xs:attribute name="package-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-type">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:xml-dom" minOccurs="0"/>
					<xs:element ref="esper:java-util-map" minOccurs="0"/>
					<xs:element ref="esper:objectarray" minOccurs="0"/>
					<xs:element ref="esper:legacy-type" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xml-dom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:namespace-prefix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="esper:xpath-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="root-element-name" type="xs:string" use="required"/>
			<xs:attribute name="root-element-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="default-namespace" type="xs:string" use="optional"/>
			<xs:attribute name="schema-resource" type="xs:string" use="optional"/>
			<xs:attribute name="schema-text" type="xs:string" use="optional"/>
			<xs:attribute name="event-sender-validates-root" type="xs:boolean" use="optional"/>
			<xs:attribute name="auto-fragment" type="xs:boolean" use="optional"/>
			<xs:attribute name="xpath-resolve-properties-absolute" type="xs:boolean" use="optional"/>
			<xs:attribute name="xpath-property-expr" type="xs:boolean" use="optional"/>
			<xs:attribute name="xpath-function-resolver" type="xs:string" use="optional"/>
			<xs:attribute name="xpath-variable-resolver" type="xs:string" use="optional"/>
			<xs:attribute name="start-timestamp-property-name" type="xs:string" use="optional"/>
			<xs:attribute name="end-timestamp-property-name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace-prefix">
		<xs:complexType>
			<xs:attribute name="prefix" type="xs:string" use="required"/>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="xpath-property">
		<xs:complexType>
			<xs:attribute name="property-name" type="xs:string" use="required"/>
			<xs:attribute name="xpath" type="xs:string" use="required"/>
			<xs:attribute name="type" type="esper:xpath-type" use="required"/>
			<xs:attribute name="cast" type="xs:string" use="optional"/>
			<xs:attribute name="event-type-name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="xpath-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="number"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="node"/>
			<xs:enumeration value="nodeset"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="java-util-map">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="esper:map-property"/>
			</xs:sequence>
			<xs:attribute name="supertype-names" type="xs:string" use="optional"/>
			<xs:attribute name="start-timestamp-property-name" type="xs:string" use="optional"/>
			<xs:attribute name="end-timestamp-property-name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectarray">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="esper:objectarray-property"/>
			</xs:sequence>
			<xs:attribute name="supertype-names" type="xs:string" use="optional"/>
			<xs:attribute name="start-timestamp-property-name" type="xs:string" use="optional"/>
			<xs:attribute name="end-timestamp-property-name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectarray-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="map-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="auto-import">
		<xs:complexType>
			<xs:attribute name="import-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-reference">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:lru-cache" minOccurs="0"/>
					<xs:element ref="esper:expiry-time-cache" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="legacy-type">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:method-property" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:field-property" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="accessor-style" type="esper:accessorStyleEnum" use="optional"/>
			<xs:attribute name="code-generation" type="esper:codeGenerationEnum" use="optional"/>
			<xs:attribute name="property-resolution-style" type="esper:propertyResolutionStyleEnum" use="optional"/>
			<xs:attribute name="factory-method" type="xs:string" use="optional"/>
			<xs:attribute name="copy-method" type="xs:string" use="optional"/>
			<xs:attribute name="start-timestamp-property-name" type="xs:string" use="optional"/>
			<xs:attribute name="end-timestamp-property-name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="method-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-method" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="field-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="accessor-field" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="accessorStyleEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="javabean"/>
			<xs:enumeration value="explicit"/>
			<xs:enumeration value="public"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codeGenerationEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="enabled"/>
			<xs:enumeration value="disabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="revision-event-type">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:base-event-type" maxOccurs="unbounded"/>
					<xs:element ref="esper:delta-event-type" maxOccurs="unbounded"/>
					<xs:element ref="esper:key-property" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="property-revision" type="esper:property-revision" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="base-event-type">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="delta-event-type">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="key-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="property-revision">
		<xs:restriction base="xs:token">
			<xs:enumeration value="overlay_declared"/>
			<xs:enumeration value="merge_declared"/>
			<xs:enumeration value="merge_non_null"/>
			<xs:enumeration value="merge_exists"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="database-reference">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:datasource-connection" minOccurs="0"/>
					<xs:element ref="esper:datasourcefactory-connection" minOccurs="0"/>
					<xs:element ref="esper:drivermanager-connection" minOccurs="0"/>
					<xs:element ref="esper:connection-settings" minOccurs="0"/>
					<xs:element ref="esper:connection-lifecycle" minOccurs="0"/>
					<xs:element ref="esper:lru-cache" minOccurs="0"/>
					<xs:element ref="esper:expiry-time-cache" minOccurs="0"/>
					<xs:element ref="esper:column-change-case" minOccurs="0"/>
					<xs:element ref="esper:metadata-origin" minOccurs="0"/>
					<xs:element ref="esper:sql-types-mapping" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasource-connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:env-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="context-lookup-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasourcefactory-connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:env-property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="env-property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="drivermanager-connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:connection-arg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
			<xs:attribute name="url" type="xs:string" use="required"/>
			<xs:attribute name="user" type="xs:string" use="optional"/>
			<xs:attribute name="password" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-arg">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-settings">
		<xs:complexType>
			<xs:attribute name="auto-commit" type="xs:boolean" use="optional"/>
			<xs:attribute name="catalog" type="xs:string" use="optional"/>
			<xs:attribute name="read-only" type="xs:boolean" use="optional"/>
			<xs:attribute name="transaction-isolation" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection-lifecycle">
		<xs:complexType>
			<xs:attribute name="value" type="esper:connection-lifecycle-enum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="connection-lifecycle-enum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="pooled"/>
			<xs:enumeration value="retain"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ref-type-enum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="weak"/>
			<xs:enumeration value="soft"/>
			<xs:enumeration value="hard"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="lru-cache">
		<xs:complexType>
			<xs:attribute name="size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expiry-time-cache">
		<xs:complexType>
			<xs:attribute name="max-age-seconds" type="xs:double" use="required"/>
			<xs:attribute name="purge-interval-seconds" type="xs:double" use="required"/>
			<xs:attribute name="ref-type" type="esper:ref-type-enum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-view">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-virtualdw">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
			<xs:attribute name="config" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-aggregation-function">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-aggregation-multifunction">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:init-arg" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="function-names" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-singlerow-function">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="function-class" type="xs:string" use="required"/>
			<xs:attribute name="function-method" type="xs:string" use="required"/>
			<xs:attribute name="value-cache" type="esper:valueCacheEnum" use="optional"/>
			<xs:attribute name="filter-optimizable" type="esper:filterOptimizableEnum" use="optional"/>
			<xs:attribute name="rethrow-exceptions" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="valueCacheEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="enabled"/>
			<xs:enumeration value="configured"/>
			<xs:enumeration value="disabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="filterOptimizableEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="enabled"/>
			<xs:enumeration value="disabled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="plugin-pattern-guard">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-pattern-observer">
		<xs:complexType>
			<xs:attribute name="namespace" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="factory-class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-loader">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:init-arg" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="esper:config-xml" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="init-arg">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="engine-settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:defaults" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="defaults">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:threading" minOccurs="0"/>
					<xs:element ref="esper:event-meta" minOccurs="0"/>
					<xs:element ref="esper:view-resources" minOccurs="0"/>
					<xs:element ref="esper:logging" minOccurs="0"/>
					<xs:element ref="esper:variables" minOccurs="0"/>
					<xs:element ref="esper:patterns" minOccurs="0"/>
					<xs:element ref="esper:match-recognize" minOccurs="0"/>
					<xs:element ref="esper:stream-selection" minOccurs="0"/>
					<xs:element ref="esper:time-source" minOccurs="0"/>
					<xs:element ref="esper:metrics-reporting" minOccurs="0"/>
					<xs:element ref="esper:language" minOccurs="0"/>
					<xs:element ref="esper:expression" minOccurs="0"/>
					<xs:element ref="esper:execution" minOccurs="0"/>
					<xs:element ref="esper:exceptionHandling" minOccurs="0"/>
					<xs:element ref="esper:conditionHandling" minOccurs="0"/>
					<xs:element ref="esper:scripts" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="threading">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:listener-dispatch" minOccurs="0"/>
					<xs:element ref="esper:insert-into-dispatch" minOccurs="0"/>
					<xs:element ref="esper:internal-timer" minOccurs="0"/>
					<xs:element ref="esper:threadpool-inbound" minOccurs="0"/>
					<xs:element ref="esper:threadpool-outbound" minOccurs="0"/>
					<xs:element ref="esper:threadpool-timerexec" minOccurs="0"/>
					<xs:element ref="esper:threadpool-routeexec" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="engine-fairlock" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-meta">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:class-property-resolution" minOccurs="0"/>
					<xs:element ref="esper:event-representation" minOccurs="0"/>
					<xs:element ref="esper:anonymous-cache" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener-dispatch">
		<xs:complexType>
			<xs:attribute name="preserve-order" type="xs:boolean" use="required"/>
			<xs:attribute name="timeout-msec" type="xs:long" use="optional"/>
			<xs:attribute name="locking" type="esper:dispatchLockingEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="insert-into-dispatch">
		<xs:complexType>
			<xs:attribute name="preserve-order" type="xs:boolean" use="required"/>
			<xs:attribute name="timeout-msec" type="xs:long" use="optional"/>
			<xs:attribute name="locking" type="esper:dispatchLockingEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="internal-timer">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="msec-resolution" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="threadpool-inbound">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="num-threads" type="xs:int" use="required"/>
			<xs:attribute name="capacity" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="threadpool-outbound">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="num-threads" type="xs:int" use="required"/>
			<xs:attribute name="capacity" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="threadpool-timerexec">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="num-threads" type="xs:int" use="required"/>
			<xs:attribute name="capacity" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="threadpool-routeexec">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="num-threads" type="xs:int" use="required"/>
			<xs:attribute name="capacity" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="class-property-resolution">
		<xs:complexType>
			<xs:attribute name="style" type="esper:propertyResolutionStyleEnum" use="optional"/>
			<xs:attribute name="accessor-style" type="esper:accessorStyleEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event-representation">
		<xs:complexType>
			<xs:attribute name="type" type="esper:eventRepresentationEnum" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="anonymous-cache">
		<xs:complexType>
			<xs:attribute name="size" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="view-resources">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:share-views" minOccurs="0"/>
					<xs:element ref="esper:allow-multiple-expiry-policy" minOccurs="0"/>
					<xs:element ref="esper:iterable-unbound" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="iterable-unbound">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="share-views">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="allow-multiple-expiry-policy">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logging">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:execution-path" minOccurs="0"/>
					<xs:element ref="esper:jdbc" minOccurs="0"/>
					<xs:element ref="esper:query-plan" minOccurs="0"/>
					<xs:element ref="esper:timer-debug" minOccurs="0"/>
					<xs:element ref="esper:audit" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="variables">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:msec-version-release" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="scripts">
		<xs:complexType>
			<xs:attribute name="default-dialect" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="patterns">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:max-subexpression" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="match-recognize">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:max-state" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="stream-selection">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:stream-selector" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="time-source">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:time-source-type" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="execution-path">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="query-plan">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="timer-debug">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jdbc">
		<xs:complexType>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="audit">
		<xs:complexType>
			<xs:attribute name="pattern" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="column-change-case">
		<xs:complexType>
			<xs:attribute name="value" type="esper:columnChangeCaseEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata-origin">
		<xs:complexType>
			<xs:attribute name="value" type="esper:metadataOriginEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sql-types-mapping">
		<xs:complexType>
			<xs:attribute name="sql-type" type="xs:integer" use="required"/>
			<xs:attribute name="java-type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="metadataOriginEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="default"/>
			<xs:enumeration value="metadata"/>
			<xs:enumeration value="sample"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="columnChangeCaseEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="none"/>
			<xs:enumeration value="lowercase"/>
			<xs:enumeration value="uppercase"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="variable">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="initialization-value" type="xs:string" use="optional"/>
			<xs:attribute name="constant" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="msec-version-release">
		<xs:complexType>
			<xs:attribute name="value" type="xs:long" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="max-subexpression">
		<xs:complexType>
			<xs:attribute name="value" type="xs:long" use="required"/>
			<xs:attribute name="prevent-start" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="max-state">
		<xs:complexType>
			<xs:attribute name="value" type="xs:long" use="required"/>
			<xs:attribute name="prevent-start" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="dispatchLockingEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="spin"/>
			<xs:enumeration value="suspend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="stream-selector">
		<xs:complexType>
			<xs:attribute name="value" type="esper:streamSelectorEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="streamSelectorEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="irstream"/>
			<xs:enumeration value="istream"/>
			<xs:enumeration value="rstream"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="time-source-type">
		<xs:complexType>
			<xs:attribute name="value" type="esper:timeSourceTypeEnum" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="timeSourceTypeEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="milli"/>
			<xs:enumeration value="nano"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="plugin-event-representation">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:initializer" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="uri" type="xs:string" use="required"/>
			<xs:attribute name="class-name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-event-type">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:choice>
					<xs:element ref="esper:resolution-uri" maxOccurs="unbounded"/>
					<xs:element ref="esper:initializer" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plugin-event-type-name-resolution">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:resolution-uri" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="resolution-uri">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="initializer">
		<xs:complexType>
			<xs:sequence>
				<xs:any processContents="lax" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="config-xml">
		<xs:complexType>
			<xs:sequence>
				<xs:any processContents="lax" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="variant-stream">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:variant-event-type" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type-variance" type="esper:type-variance" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="type-variance">
		<xs:restriction base="xs:token">
			<xs:enumeration value="predefined"/>
			<xs:enumeration value="any"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="variant-event-type">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="metrics-reporting">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="esper:stmtgroup" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="enabled" type="xs:boolean" use="required"/>
			<xs:attribute name="threading" type="xs:boolean" use="optional"/>
			<xs:attribute name="engine-interval" type="xs:long" use="optional"/>
			<xs:attribute name="statement-interval" type="xs:long" use="optional"/>
			<xs:attribute name="jmx-engine-metrics" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:attribute name="sort-using-collator" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expression">
		<xs:complexType>
			<xs:attribute name="integer-division" type="xs:boolean" use="optional"/>
			<xs:attribute name="division-by-zero-is-null" type="xs:boolean" use="optional"/>
			<xs:attribute name="udf-cache" type="xs:boolean" use="optional"/>
			<xs:attribute name="self-subselect-preeval" type="xs:boolean" use="optional"/>
			<xs:attribute name="extended-agg" type="xs:boolean" use="optional"/>
			<xs:attribute name="ducktyping" type="xs:boolean" use="optional"/>
			<xs:attribute name="math-context" type="xs:string" use="optional"/>
			<xs:attribute name="time-zone" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exceptionHandling">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:handlerFactory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conditionHandling">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esper:handlerFactory" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="handlerFactory">
		<xs:complexType>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="execution">
		<xs:complexType>
			<xs:attribute name="prioritized" type="xs:boolean" use="optional"/>
			<xs:attribute name="fairlock" type="xs:boolean" use="optional"/>
			<xs:attribute name="disable-locking" type="xs:boolean" use="optional"/>
			<xs:attribute name="threading-profile" type="esper:threadingProfileEnum" use="optional"/>
			<xs:attribute name="allow-isolated-service" type="xs:boolean" use="optional"/>
			<xs:attribute name="filter-service-profile" type="esper:filterServiceProfileEnum" use="optional"/>
			<xs:attribute name="filter-service-max-filter-width" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="threadingProfileEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="large"/>
			<xs:enumeration value="normal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="filterServiceProfileEnum">
		<xs:restriction base="xs:token">
			<xs:enumeration value="readmostly"/>
			<xs:enumeration value="readwrite"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="stmtgroup">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="include-like" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="exclude-like" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="include-regex" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="exclude-regex" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="interval" type="xs:long" use="required"/>
			<xs:attribute name="num-stmts" type="xs:int" use="optional"/>
			<xs:attribute name="default-include" type="xs:boolean" use="optional"/>
			<xs:attribute name="report-inactive" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
